
<div class="preview">
  <div class="container">
    <div class="show">
      <% if notice %>
        <p id="notice" class="message"><%= notice %></p>
      <% else %>
      	<p class="message">
      		We're currently scanning your email to check for donation receipts. We'll send you an email once this process is complete. Please see below for what a sample dashboard will look like once we've begun adding donations. To add donations that our scan doesn't turn up, either email donation receipts from your email to receipts@givepro.io or enter them manually via our <%= link_to 'Donation Form', :controller => "donations", :action => "new" %>.
      	</p>
      <% end %>

    	<%= render "shared/dashboard", preview: true %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.sub_json = <%= raw @sub_hash.to_json %>;
  window.time_json = <%= raw @date_total.to_json %>;
<% end %>

<%= javascript_include_tag "visualizations", "d3.v3.min" %>
