  <div class="row placeholders">
      <div class="col-xs-6 col-sm-4 placeholder topline">
        <div class="total">
          <h3>Amount Given In <%= Time.now.year %></h3>
          <span class="value"><%= number_to_currency(@annual_sum) %></span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 placeholder topline">
        <div class="total">
            <h3>Amount Tax-Exempt:</h3>
            <span class="value"><%= number_to_currency(@exempt_sum) %></span>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 placeholder topline">
        <div class="total">
            <h3>Total Amount Given:</h3>
            <span class="value"><%= number_to_currency(@total_sum) %></span>
        </div>
      </div>
  </div>

  <h1 class="page-header">Recent Giving</h1>

  <div class="card-deck clearfix">
    <% @donations.each do |donation| %>
      <div class="card" style="width:25rem;">
        <% if donation.has_image %>
          <div class="image">
            <% if donation.NonProfit %>
              <%= image_tag(donation.NonProfit.image.thumb.url, class: "card-img-top", alt: donation.NonProfit.alias) %>
            <% elsif donation.Processor %>
              <%= image_tag(donation.Processor.image.thumb.url, class: "card-img-top", alt: donation.Processor.name) %>
            <% end %>
          </div>
        <% end %>
        <div class="card-block">
          <% if donation.has_image %>
            <h4 class="card-title">
          <% else %>
            <h4 class="card-title noimage">
          <% end %>
            <%= donation.non_profit_string %>
          </h4>
          <div class="donation-data">
            <p class="card-text amount"><%= number_to_currency(donation.amount) %></p>
            <p class="card-text date"><%= donation.donation_date.strftime('%_m/%-d/%Y') %></p>
            <%= link_to 'Edit', edit_donation_path(donation.id), class: 'card-link' %></td>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="links">
  <%= link_to 'Enter New Donation', new_donation_path, class: "btn btn-primary new-donation" %>

  <span class="tax-link"><%= link_to "View #{Time.current.year - 1} Tax Receipt", tax_receipt_donations_path(:year => Time.current.year - 1) %></span>

  </div>

  <div class="row placeholders">
      <div class="col xs-6 col-sm-4 placeholder income">
          <%= render 'shared/_income' %>
      </div>
      <% if @total_sum > 0 %>
        <div class="col-xs-6 col-sm-4 placeholder pie">
          <div id="pie_chart"></div>
          <h4>Organization Type</h4>
          <span class="text-muted">Broken Down By Subsection</span>
        </div>
         <div class="col-xs-6 col-sm-4 placeholder time">
          <svg id="line_chart"></svg>
          <h4>Giving Over Time</h4>
          <span class="text-muted">Broken Down By Month</span>
         </div>
      <% end %>
  </div>