<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GivePro</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag    'bootstrap.min', media: 'all' %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag    'small-business', media: 'all' %>

    <%= javascript_include_tag 'jquery' %>

    <%= javascript_include_tag 'bootstrap' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <%= image_tag 'give-pro-home.png', alt: 'Person giving a gift', class: 'img-responsive img-rounded' %>
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1>You're a giver.</h1>
                <p>Feel good about your giving -- track it all in one place.</p>
                <%= link_to 'Try it out', preview_users_path, class: 'btn btn-primary btn-lg' %></td>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Nonprofits and charities,<br>and political causes, crowdfunding, and your friend's 5k, too
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>1. Connect to Gmail</h2>
                <%= link_to 'Get started', signup_path, class: 'btn btn-default' %></td>
                <p><a href="">Need other options?</a></p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>2. We tidy your receipts</h2>
                <p></p>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h2>3. Get your giving gallery</h2>
                <p>See all your favorite causes in one place. We'll give you a receipt for tax deductions, too.</p>
<p></p>
            </div>
            <!-- /.col-md-4 -->
        </div>

        <!-- Sample gallery -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <p>
	Here's a sample giving gallery:
</p>
<p>
                <%= link_to 'Try it out', preview_users_path, class: 'btn btn-primary btn-lg' %></td>
</p>
                </div>
            </div>

        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; GivePro <%= Time.now.year %></p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
