<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag(:organization_id) %>

  <div class="field">
    <%= f.label :amount %>
    <span class="dollar">$</span>
    <%= f.number_field(:amount, precision: 2, step: :any)  %>
  </div>
  <div class="field">
  <% if @donation.errors.any? and @donation.errors[:organization_string] %>
    <div class="field_with_errors">
      <%= f.label :organization_string, value: "Organization" %>
    </div>
    <div class="field_with_errors">
      <%= f.autocomplete_field :organization_string, autocomplete_organization_alias_donations_path, :id_element => '#organization_id' %>
    </div>
  <% else %>
    <%= f.label :organization_string, value: "Organization" %>
    <%= f.autocomplete_field :organization_string, autocomplete_organization_alias_donations_path, :id_element => '#organization_id' %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :donation_date %>
    <div class="form-group">
        <div class='input-group date' id='donation_picker'>
            <%= f.text_field :donation_date, class: "form-control", :value => @donation.donation_date.try(:strftime, "%d/%m/%Y") %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
  </div>
  <div class="field">
    <%= f.check_box :recurring %>
    <%= f.label :recurring, "This is a recurring donation" %>
  </div>
  <div class="field">
    <%= f.check_box :matching  %>
    <%= f.label :matching, "This donation is being matched" %>
  </div>
  <div class="actions">
    <%= f.submit submit_label, class: "btn-submit" %>
  </div>
<% end %>
