

<div class="donations">
  <div class="container">
    <div class="show">

      <p id="notice" class="message"><%= notice %></p>

      <% if @donations.empty? && !notice %>
        <p class="message">
          You currently don't have any donations. To get started adding donations, either forward donation email receipts to <a href="mailto:receipts@givepro.io">receipts@givepro.io</a> or add them manually via our <%= link_to 'Add Donation Form', :controller => "donations", :action => "new" %>.
        </p>
      <% end %>

      <%= render "shared/dashboard", preview: false %>

      
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.sub_json = <%= raw @sub_hash.to_json %>;
  window.time_json = <%= raw @date_total.to_json %>;
  $('.donation-meter .glass .amount').css('height','<%= number_to_percentage(@goal_percent) %>');
<% end %>

<%= javascript_include_tag "visualizations", "d3.v3.min" %>
