

<div class="donations">
  <div class="container">
    <div class="show">

      <p id="notice"><%= notice %></p>

      <%= render "shared/dashboard", preview: false %>

      <br>

      <%= link_to 'Enter New Donation', new_donation_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.sub_json = <%= raw @sub_hash.to_json %>;
  window.time_json = <%= raw @date_total.to_json %>;
<% end %>

<%= javascript_include_tag "visualizations", "d3.v3.min" %>
