<div class="preview">
  <div class="container">
    <div class="show">
      <% if notice %>
        <p id="notice" class="message"><%= notice %></p>
      <% else %>
      	<p class="message">
          GivePro is the best way to track all of your giving. <%= link_to 'Sign up', :controller => "users", :action => "new" %> to get your personal giving dashboard like the one below.
      	</p>
      <% end %>

    	<%= render "shared/dashboard", preview: true %>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.sub_json = <%= raw @sub_hash.to_json %>;
  window.time_json = <%= raw @date_total.to_json %>;
  $('.donation-meter .glass .amount').css('height','<%= number_to_percentage(@goal_percent) %>');
<% end %>

<%= javascript_include_tag "visualizations", "d3.v3.min" %>
