<h1>Donation Details</h1>

<div class="donation">
  <div class="container">
    <div class="form">

      <p id="notice"><%= notice %></p>

      <div class="field">
        <strong>Amount:</strong><br/>
        <%= number_to_currency(@donation.amount) %>
      </div>

      <div class="field">
        <strong>Donation date:</strong><br/>
        <%= @donation.donation_date.strftime('%_m/%-d/%Y') %>
      </div>

      <div class="field">
        <strong>Recurring:</strong><br/>
        <%= @donation.recurring %>
      </div>

      <div class="field">
        <strong>Matching:</strong><br/>
        <%= @donation.matching %>
      </div>

      <div class="field">
        <strong>Nonprofit:</strong><br/>
        <%= @donation.non_profit_string %>
      </div>

      <%= link_to 'Edit', edit_donation_path(@donation) %> |
      <%= link_to 'Back', donations_path %>
    </div>
  </div>
</div>
