<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Donation date:</strong>
  <%= @donation.donation_date %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @donation.recurring %>
</p>

<p>
  <strong>Matching:</strong>
  <%= @donation.matching %>
</p>

<p>
  <strong>User:</strong>
  <%= @donation.User.email %>
</p>

<p>
  <strong>Nonprofit:</strong>
  <%= @donation.NonProfit.name %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
