<%= form_for(@processor) do |f| %>
  <% if @processor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor.errors.count, "error") %> prohibited this processor from being saved:</h2>

      <ul>
      <% @processor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :regex %><br>
    <%= f.text_field :regex %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn-submit" %>
  </div>
<% end %>
