<div class="processor">
	<div class="container">
		<div class="form">

			<p id="notice"><%= notice %></p>

			<p>
			  <strong>Name:</strong>
			  <%= @processor.name %>
			</p>

			<p>
			  <strong>Domain:</strong>
			  <%= @processor.domain %>
			</p>

			<p>
			  <strong>Image:</strong>
			  <%= image_tag @processor.image.thumb.url %>
			</p>

			<p>
			  <strong>Org Regex:</strong>
			  <%= @processor.org_regex %>
			</p>

			<p>
			  <strong>Amount Regex:</strong>
			  <%= @processor.amount_regex %>
			</p>

			<p>
		      <strong>Requires Org:</strong><br/>
		      <%= @processor.requires_org %>
		    </p>

			<%= link_to 'Edit', edit_processor_path(@processor) %> |
			<%= link_to 'Back', processors_path %>
		</div>
	</div>
</div>
