<p id="notice"><%= notice %></p>

<h1>Non Profit Directory</h1>

<table>
  <thead>
    <tr>
      <th>Ein</th>
      <th>Name</th>
      <th>Alias</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>ZIP Code</th>
      <th>Subsection</th>
      <th>Classification</th>
      <th>Ruling Date</th>
      <th>Exempt Code</th>
      <th>Foundation Code</th>
      <th>Domain name</th>
      <th>Donation Page URL</th>
      <th>Image URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |org| %>
      <tr>
        <td><%= org.ein %></td>
        <td><%= org.name %></td>
        <td><%= org.alias %></td>
        <td><%= org.address %></td>
        <td><%= org.city %></td>
        <td><%= org.state %></td>
        <td><%= org.zip %></td>
        <td><%= org.subsection %></td>
        <td><%= org.classification %></td>
        <td><%= org.ruling_date %></td>
        <td><%= org.exemption_code %></td>
        <td><%= org.foundation_code %></td>
        <td><%= org.domain_name %></td>
        <td><%= org.donation_page_url %></td>
        <td><%= org.image_url %></td>
        <td><%= link_to 'Show', org %></td>
        <td><%= link_to 'Edit', edit_organization_path(org) %></td>
        <td><%= link_to 'Destroy', org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
