<div class="non_profit">
  <div class="container">
    <div class="form">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Ein:</strong>
        <%= @organization.ein %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @organization.name %>
      </p>

      <p>
        <strong>Alias:</strong>
        <%= @organization.alias %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @organization.address %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @organization.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @organization.state %>
      </p>

      <p>
        <strong>Zip:</strong>
        <%= @organization.zip %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= image_tag @organization.image.thumb.url %>
      </p>

      <p>
        <strong>Subsection:</strong>
        <%= @organization.subsection %>
      </p>

      <p>
        <strong>Classification:</strong>
        <%= @organization.classification %>
      </p>

      <p>
        <strong>Ruling Date:</strong>
        <%= @organization.ruling_date %>
      </p>

      <p>
        <strong>Domain Name:</strong>
        <%= @organization.domain_name %>
      </p>

      <p>
        <strong>Exemption Code:</strong>
        <%= @organization.exemption_code %>
      </p>

      <p>
        <strong>Foundation Code:</strong>
        <%= @organization.foundation_code %>
      </p>

      <p>
        <strong>Donation page url:</strong>
        <%= @organization.donation_page_url %>
      </p>

      <p>
        <strong>Image URL:</strong>
        <%= @organization.image_url %>
      </p>

      <%= link_to 'Edit', edit_organization_path(@organization) %> |
      <%= link_to 'Back', organizations_path %>
    </div>
  </div>
</div>

