<!DOCTYPE html>
<html>
<head>
  <title>GivePro</title>
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>


</head>
<body>

	<div class="header">
      <div class="container">
        <div class="logo">
          <%= link_to root_path do %>
            <span>GivePro</span>
          <% end %>
        </div>

        <div class="nav pull-right">
        	<% if current_user %> 
			  <ul> 
			    <li><%= current_user.email %></li> 
			    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
			  </ul> 
			<% else %> 
			  <ul> 
			  	<li><%= link_to "Sign Up", '/signup' %></a></li> 
			    <li><%= link_to "Log In", '/login' %></a></li>
			  </ul> 
			<% end %>
		          
		          
		</div>
	  </div>
	</div>


	<%= yield %>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-76147314-1', 'auto');
	  ga('send', 'pageview');

  	</script>


</body>
</html>
